<a href="https://colab.research.google.com/github/jjh946/likelion_study/blob/main/pythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
print(한식)

NameError: ignored

In [ ]:
### 변수에 요리 담기.
한식 = random.choice(["김치찌개","비빔밥","불고기"])
중식 = random.choice(["새우탕면","꿔바로우","깐쇼새우"])
양식 = random.choice(["파스타","피자","햄버거"])

print(한식)
### 랜덤으로 하나가 담긴다.

한식 = "집밥"

print(한식)
### 집밥


a = '멋쟁이사자처럼' 
## 이런 식으로 변수에 담아주고
print(a) ## 이렇게 사용하시면 됩니다.

NameError: ignored

In [ ]:
say = '"Python is very easy." he says.'

In [ ]:
print(say)

"Python is very easy." he says.

In [ ]:
multiline = "Life is too short\nYou need python"

In [ ]:
print(multiline)

Life is too short
You need python

In [ ]:
multiline='''
... Life is too short
... You need python
... '''

In [ ]:
print(multiline)

Life is too short
You need python

In [ ]:
multiline="""
... Life is too short
... You need python
... """

In [ ]:
print(multiline)

Life is too short
You need python

In [ ]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

In [ ]:
## 문자열 곱하기
a = "python"
print(a * 2) ## 두번 반복해라
#'pythonpython'

pythonpython

In [ ]:
## 문자열 곱하기 응용

print("=" * 50)
print("My Program")
print("=" * 50)

#==================================================
#My Program
#==================================================

==================================================
My Program
==================================================

In [ ]:
## 문자열 길이 구하기
a = "Life is too short"
len(a)
# 17

17

In [ ]:
## 문자열 인덱싱과 슬라이싱
"""
인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다. 이런 의미를 생각하면서 다음 내용을 살펴보자
"""
## 문자열 인덱싱
a = "Life is too short, You need Python"
a[3]
# 'e' -> 맨 앞이 0부터 시작, 즉 4번째 알파벳이 나온다.

'e'

In [ ]:
"""
다음과 같이 0부터 숫자를 센다
a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ', ...
"""
## 마지막 문자열 세기: 
"""
a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다. a의 값은 "Life is too short, You need Python" 문자열이므로 뒤에서부터 첫 번째 문자는 가장 마지막 문자 'n'이다.
"""
a[-1]
# 'n'

'n'

In [ ]:
## 문자열 슬라이싱
a = "Life is too short, You need Python"
a[0:4]
# 'Life'
b = a[0] + a[1] + a[2] + a[3]
b
# 'Life'

'Life'

In [ ]:
a[0:4]

'Life'

In [ ]:
a[4:8]

' is '

In [ ]:
## a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.
a[19:]
# 'You need Python'

'You need Python'

In [ ]:
## a[시작 번호:끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.
a[:17]
# 'Life is too short'

'Life is too short'

In [ ]:
a = "Pithon"
a[1]

'i'

In [ ]:
a[1] = 'y'

TypeError: ignored

In [ ]:
a[:1]

'P'

In [ ]:
a[2:]

'thon'

In [ ]:
a[:1]+'y'+a[2:]

'Python'

**PYTHON  기초: 조건문** 

- 코드의 흐름을 제어한다고 해서 제어문
- 분기문 = 컴퓨터에게 선택의 여지와 조건을 부여
- if(조건): 조건이 참일 때 실행할 코드

In [ ]:
score = int(input("점수를 입력해주세요: ")) #프롬프트
if (score >= 85):
    print("PASS")
else:
    print("FAIL")

점수를 입력해주세요: 40
FAIL

In [ ]:
## 등호 조건 예시
## 예시: 동아리 뭐해?
activity = input("너 동아리 뭐해?: ")

if(activity == "멋쟁이사자처럼"):
    print("뭘 좀 아는구만!")
else:
    print("말 걸지마..")

## 너 동아리 뭐해?: 멋쟁이사자처럼
## 뭘 좀 아는구만!

너 동아리 뭐해?: 멋쟁이사자처럼
뭘 좀 아는구만!

In [ ]:
# 예시: 5000원 이상: 택시/ 3000원 이상: 버스/ 1000원 따릉이/ 나머지: 걷기

money = int(input("돈 얼마나 있니?"))

if(money >= 5000):
    print("택시타자")
elif(money >= 3000):
    print("버스타자")
elif(money >= 1000):
    print("따릉이타자")
else:
    print("걷자")

돈 얼마나 있니?200
걷자

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
	print("택시를 타고 가라")
else:
	print("걸어가라")

## 택시를 타고 가라
"""
money는 2000이지만 card가 True이기 때문에 
money >= 3000 or card 조건문이 참이 된다. 따라서 if문 다음 ‘택시를 타고 가라’ 문장이 출력된다.
"""

택시를 타고 가라

'\nmoney는 2000이지만 card가 True이기 때문에 \nmoney >= 3000 or card 조건문이 참이 된다. 따라서 if문 다음 ‘택시를 타고 가라’ 문장이 출력된다.\n'

In [ ]:
## 택시 예제를 만들어서 설명하겠다.
""""만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라."""

pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
	print("택시를 타고 가라")
else:
	print("걸어가라")

## 택시를 타고 가라

택시를 타고 가라

In [ ]:
### 만약 조건문이 아무 일도 하지 않게 하고 싶다면???
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
	pass ## pass 를 사용할 경우에, 아무 결과 값을 보여주지 않는다.
else:
	print("카드를 꺼내라")

**PYTHON  기초: 반복문**

In [ ]:
import random

In [ ]:
## 기본적인 반복문
### 반복문을 사용해서 음식을 추출하기
for i in range(0, 5, 1): ## 시작점(0), 마지막 개수 +1, 늘어나게 할 단위(1)
	print(random.choice(["된장찌개","제육볶음","치킨","떡볶이","라면"]))

###제육볶음, 제육볶음, 치킨, 제육볶음, 치킨

제육볶음
치킨
떡볶이
제육볶음
떡볶이

In [ ]:
## 축소형
### 처음시작과 늘어나는 숫자가 각각 0, 1 일 경우에는 선택적 생략이 가능
# 1. 
for i in range(0, 5): ## 시작점(0), 마지막 개수 +1, 늘어나게 할 단위(1)
	print(random.choice(["된장찌개","제육볶음","치킨","떡볶이","라면"]))
# 2.
for i in range(5): ## 시작점(0), 마지막 개수 +1, 늘어나게 할 단위(1)
	print(random.choice(["된장찌개","제육볶음","치킨","떡볶이","라면"]))

치킨
떡볶이
제육볶음
떡볶이
치킨
떡볶이
치킨
제육볶음
된장찌개
된장찌개

In [ ]:
# 추가:
### i를 사용하지 않을 경우에는 i를 제거한 반복문을 많이 쓰기도 한다.
for _ in range(0, 5, 1):
	print(random.choice(["된장찌개","제육볶음","치킨","떡볶이","라면"]))

###제육볶음, 된장찌개, 치킨, 떡볶이, 치킨

제육볶음
치킨
제육볶음
라면
라면

In [ ]:
import random 
import time

In [ ]:
while True:### 추후에 나오는 조건이 맞다고 하면 계속 실행
	print(random.choice(["된장찌개","치킨","떡볶이","라면","감자튀김"]))
	print("이 문장도 반복되나")
	time.sleep(1)## 1초를 쉬면서 반복

	break

떡볶이
이 문장도 반복되나

3. 추가적인 반복문 → 요즘 많이 쓰는 방식
    
    요즘 유행하는 반복문 방식이더라구요, 참고하시면 좋을 것 같아서 올려봅니다.

In [ ]:
cnt = int(input()) ## 입력받을 개수를 입력합니다.
numbers = list(map(int, input().split()))
"""
map 함수를 통하여, 전자에 있는(int)형식의 여러 인풋들을 받습니다. 
그 개수는 위에 존재하는 cnt 개수만큼 받을 수 있습니다.
"""
print(min(numbers),max(numbers))
print("hello world")

3
2 5 7
2 7
hello world

## 리스트:

리스트는 점검하거나 기억하기 쉽도록 특별한 순서로 적어놓은 것입니다. 이걸 프로그래밍 언어 차원에서 본다면 데이터들을 잘 관리할 수 있도록 순서를 정해서 관리하는 데이터 타입의 하나 입니다. 

리스트에서는 대괄호 "[, ]"를 이용해서 리스트를 만듭니다

In [ ]:
a = [1, 2, 3, 4, 5]
b = ['blockdmask', 2, 4, 'blog']
c = []
"""
이렇게 대괄호를 이용해서 리스트를 만들 수 있으며, 리스트 내부에 값은 스트링이 오든, 숫자가 오든 데이터 타입이 통일되지 않아도 상관없습니다.
또한, c를 보면 아무것도 넣지 않은 [] 대괄호만 있는걸 보실수 있는데, 이것은 위에서 말했듯, 요소가 없는 비어있는 리스트를 말합니다.
"""

파이썬은 특이하게도 위처럼 리스트에 데이터 타입이 통일되지 않아도 상관없다

In [ ]:
# 리스트 덧셈
a = ["BlockDMask", 333]
b = [1, 2, 3]
 
print(a + b)
#['BlockDMask', 333, 1, 2, 3]

['BlockDMask', 333, 1, 2, 3]

In [ ]:
# 리스트 
a = [1, 2, 3]
 
b = a * 3
print(b)
# [1, 2, 3, 1, 2, 3, 1, 2, 3]
c = a * 0
print(c)
# []

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[]

In [ ]:
# 3. 파이썬 리스트의 인덱싱과 슬라이싱에 대해서
## 리스트 인덱싱1 : 리스트 검색, 접근
"""
파이썬의 리스트는 시퀀스 데이터 타입이기 때문에 인덱스를 이용해서 접근을 할 수 있습니다.
즉, 각 요소 마다 자리표가 있어서 우리는 리스트 a에 1번 손님 앞으로 나오세요~
이게 가능하다는 그말 입니다. 그걸 코드로 한번 볼까요?
앗 그리고 리스트의 자리표(index)는 0번부터 시작하게 됩니다.
"""
# 리스트 인덱싱
# 길이가 8인 리스트
a = [101, 102, 'b', 'l', 'o', 103, 104, 105]
 
# 인자 접근
a[1]
a[2]
a[3]
a[4]
a[5]
a[7]
## a[8]

## 마이너스로 접근이 가능하다.
a[-1]
a[-2]
a[-3]
a[-4]
a[-5]
a[-7]
#a[-9]
"""
길이가 8인 리스트에서 접근 할 수 있는 인덱스는
양수 : 왼쪽에서 오른쪽 방향은 0부터 7까지 접근이 가능하고
음수 : 오른쪽 에서 왼쪽 방향은 -1 부터 -8 까지 접근이 가능


N인 리스트를 인덱스 할 수 있는 범위는
양수 0 ~ N-1 까지
음수 -N ~ -1 까지
결론적으로 -N 부터 N-1 구간 까지 접근이 가능
"""

'\n길이가 8인 리스트에서 접근 할 수 있는 인덱스는\n양수 : 왼쪽에서 오른쪽 방향은 0부터 7까지 접근이 가능하고\n음수 : 오른쪽 에서 왼쪽 방향은 -1 부터 -8 까지 접근이 가능\n\n\nN인 리스트를 인덱스 할 수 있는 범위는\n양수 0 ~ N-1 까지\n음수 -N ~ -1 까지\n결론적으로 -N 부터 N-1 구간 까지 접근이 가능\n'

In [ ]:
a[1]

102

In [ ]:
a[-4]

'o'

In [ ]:
# 리스트 값 수정
b = [222, 333, 444, 555]

In [ ]:
b[0] = 9

In [ ]:
print(f'b[0] = 10')

b[0] = 10

위에 프린트 앞에 f를 붙이는 것은 무엇일까?

f-string의 모양은 f와 {}만 알면 됩니다. 문자열 맨 앞에 f를 붙여주고, 중괄호 안에 직접 변수 이름이나 출력하고 싶은것을 바로 넣으면 됩니다.
f'문자열 {변수} 문자열'

출처: https://blockdmask.tistory.com/429 [개발자 지망생]

In [ ]:
print(b)

[9, 333, 444, 555]

In [ ]:
#리스트 슬라이싱 : 리스트 자르기
"""
리스트 슬라이싱이라는것은 리스트를 잘라버린다는것 입니다. 리스트를 다루다 보면 필요한 부분만 잘라서 쓰고 싶고, 필요없는 부분은 잘라 내야하는 경우가 있습니다.

파이썬에서는 슬라이싱을 [] 대괄호에서 콜론 : 을 이용해서 진행을 합니다.
: 콜론은 ~에서 ~까지를 나타내는 것을 말합니다.
"""
## 해당 리스트의 원하는 부분을 잘라서 리스트로 반환해주는것을 리스트 슬라이싱라고 합니다.

## 리스트[원하는 시작 index : 원하는 끝 index + 1

# 리스트 
# 길이가 8인 리스트
a = [101, 102, 'b', 'l', 'o', 103, 104, 105]

In [ ]:
# a[1] 부터 ~ a[2] 까지 슬라이싱
a[1:3]

[102, 'b']

In [ ]:
# a[1] 부터 ~ a[6] 까지 슬라이싱
a[1:7]

[102, 'b', 'l', 'o', 103, 104]

In [ ]:
# a[1] 부터 ~ a[7] 까지 슬라이싱 (리스트 끝 까지1)
a[1:8]

[102, 'b', 'l', 'o', 103, 104, 105]

In [ ]:
# a[1] 부터 리스트 끝까지 슬라이싱 (리스트 끝 까지2)
a[1:]

[102, 'b', 'l', 'o', 103, 104, 105]

In [ ]:
# 리스트 맨 앞에서 부터 맨 뒤 끝 까지
a[:]

[101, 102, 'b', 'l', 'o', 103, 104, 105]

In [ ]:
# 리스트 맨 앞에서 특정 부분 까지
a[:3]

[101, 102, 'b']

In [ ]:
# 리스트 반으로 뚝딱 나누기 1
a[:4]
a[4:]

['o', 103, 104, 105]

In [ ]:
a[:4]

[101, 102, 'b', 'l']

In [ ]:
# 리스트 반으로 나누기 2
# 리스트 길이를 가지고 오는 len 내장함수 이용
w = int(len(a) / 2)
a[:w]

[101, 102, 'b', 'l']

In [ ]:
a[w:]

['o', 103, 104, 105]

In [ ]:
# 마이너스는 통할까?
a[-2:]

[104, 105]

In [ ]:
a[-1:]

[105]

In [ ]:
a[-5:-1]

['l', 'o', 103, 104]

In [ ]:
a[:-5]

[101, 102, 'b']

In [ ]:
# 리스트 길이 구하기
c = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
c

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
len(c)

7

In [ ]:
c = [100, 200, 300, 400, 500, 600, 700]

In [ ]:
del(c[1])

In [ ]:
c

[100, 300, 400, 500, 600, 700]

In [ ]:
# 범위 삭제
del(c[1:4])
del(c[1:4])
c

[100]

In [ ]:
### 5. 리스트 메서드 append, insert, remove, pop, extend

#list.append(x) - 리스트에 값 추가
"""
리스트의 append 함수를 이용해서 리스트의 끝에 값 x를 추가하는 함수 입니다.
"""

a = [2, 9, 4]
print(a)

[2, 9, 4]

In [ ]:
a.append('k')
print(a)

[2, 9, 4, 'k']

In [ ]:
a.append(100)
print(a)

[2, 9, 4, 'k', 100]

In [ ]:
### list.insert(a, b) - 특정 위치에 값 추가
"""
리스트의 a위치에 b 값을 추가하는 함수 입니다.
a는 index 를 말합니다.
"""
c = [22, 44, 66, 88]
print(c)

[22, 44, 66, 88]

In [ ]:
c.insert(0, 'k')
print(c)

['k', 22, 44, 66, 88]

In [ ]:
c.insert(3, 'm')
print(c)

['k', 22, 44, 'm', 66, 88]

In [ ]:
# list.remove(x) - 리스트에서 특정 값 제거
"""
리스트에서 특정 값 x를 찾아서 제거하는 함수입니다.
해당 값 x가 여러개 있다면? x가 없다면? 어떻게 될까요?
"""

c = [22, 44, 66, 88, 44, 11, 44]
c

[22, 44, 66, 88, 44, 11, 44]

In [ ]:
# remove() 값이 하나일때
c.remove(66)

In [ ]:
c

[22, 44, 88, 44, 11, 44]

In [ ]:
# remove() 값이 두개 이상일때
c.remove(44)
c

[22, 88, 44, 11, 44]

In [ ]:
# remove() 값이 없을때 (error)
c.remove(1000)

ValueError: ignored

In [ ]:
# list.pop() - 리스트 맨 마지막 값 반환 후 삭제
"""
리스트에 있는 맨 마지막 값을 반환한 후에 리스트에서 해당 값을 삭제하는 함수 입니다.
맨 마지막 값을 제거 하기 위한 용도로만 사용하셔도 되고,
맨 마지막 값을 읽어오고 제거 하기 위한 용도로 사용 할 수 도 있습니다.
"""

a = [9, 8, 7, 6, 5]
a

[9, 8, 7, 6, 5]

In [ ]:
b = a.pop()
b

5

In [ ]:
a
c = a.pop()
c
a

[9, 8, 7]

In [ ]:
d = a.pop()
d
a

[9, 8]

In [ ]:
# list.extend(list2) - 리스트에 다른 리스트2 연결
"""
리스트1에 리스트2를 붙이고 싶을때 사용하는 함수 입니다.
extend( 매개변수 ) 함수의 매개변수에는 무조건 리스트가 와야합니다.
"""
a = [6, 5]
b = [3, 2, 1]
c = ['blockdmask', 'blog']
 
print(a)
 
a.extend(b)
print(a)
 
a.extend(c)
print(a)

"""
리스트 + 연산자와 extend의 다른점은
list1 + list2 는 리스트 두개의 리스트를 연결해서 새로운 list3을 반환하는 것이고 그렇기 때문에 list3 = list1 + list2 이런식으로 해야 이어진 리스트를 받을 수 있습니다.

하지만
list1.extend(list2)는 list1 리스트 객체에다가 list2를 붙이고, list1 객체를 그대로 사용할 수 있다는 점이 다릅니다.
"""

[6, 5]
[6, 5, 3, 2, 1]
[6, 5, 3, 2, 1, 'blockdmask', 'blog']

'\n리스트 + 연산자와 extend의 다른점은\nlist1 + list2 는 리스트 두개의 리스트를 연결해서 새로운 list3을 반환하는 것이고 그렇기 때문에 list3 = list1 + list2 이런식으로 해야 이어진 리스트를 받을 수 있습니다.\n\n하지만\nlist1.extend(list2)는 list1 리스트 객체에다가 list2를 붙이고, list1 객체를 그대로 사용할 수 있다는 점이 다릅니다.\n'

In [ ]:
### 6. 파이썬 메서드 copy, reverse, sort, count, index, clear
# list.copy() - 리스트 복사
"""
리스트를 복사할 수 있는 함수 입니다. 복사한 리스트를 반환하는 함수 입니다.
"""
a = [100, 200, 300]
b = a.copy()
 
print(a)
print(b)
print(id(a))
print(id(b))

[100, 200, 300]
[100, 200, 300]
140584902689808
140584902640496

In [ ]:
# list.reverse() - 리스트 뒤집기
"""
리스트의 내부 요소들을 싹 뒤집습니다.
뒤집은 리스트를 반환하는 것이 아니라. 현재 리스트를 뒤집습니다.
"""
a = [100, 200, 300]
a.reverse()
 
print(a)

[300, 200, 100]

In [ ]:
# list.sort() - 리스트 정렬
"""
리스트의 내부 요소를 정렬해주는 함수입니다.
기본적으로는 오름차순으로 정렬이 됩니다.
(작은것 이 앞으로 오고, 큰 값들이 뒤로 가는 정렬방식)

sort 함수에서 주의해야할 것은 내부 요소의 데이터 타입이 같아야합니다.
즉, 비교가 가능한 요소들만 있어야지 sort 함수가 작동할 수 있습니다.
간단히 이야기해서 ["blockdmask", 1, 2, 3, 'a'] 이런 리스트는 내부에 문자열도 있고 정수도 있고 데이터 타입이 통일되지 않아서 비교가 불가능 하기 때문에 정렬이 불가능 한 것 입니다.
비교 불가능 => 정렬 불가능
"""
# 정렬 가능!
a = [300, 200, 800, 400, 500, 100]
a.sort()
 
print(a)

[100, 200, 300, 400, 500, 800]

In [ ]:
# 정렬 가능!
b = ['c', 'fff', 't', 'k', 'a']
b.sort()
 
print(b)

['a', 'c', 'fff', 'k', 't']

In [ ]:
# 정렬 불가능!
c = ['a', 100, 1, 5, 'c', 'b', 'l', 'o']
c.sort()
 
#print(c)

TypeError: ignored

In [ ]:
## list.count(x) - 리스트 값 x 의 개수 세기
"""
리스트 내부에 매개변수로 전달받은 x와 같은게 몇개가 있는지 세서 그 개수를 반환하는 함수 입니다.
리스트 내부에 x와 같은 값의 개수 반환.
"""

a = ['b', 'l', 'o', 'c', 'k', 'd', 'm', 'a', 's', 'k']
a

['b', 'l', 'o', 'c', 'k', 'd', 'm', 'a', 's', 'k']

In [ ]:
# 리스트에서 'k' 개수 찾기
a.count('k')

2

In [ ]:
# 리스트에는 없는 'z' 개수 찾기
a.count('z')

0

In [ ]:
## list.index(x) - 리스트 값 x의 위치(index) 값 반환
"""
리스트 내부에 값 x의 위치를 index 로 반환하는 것 입니다.
x가 여러개있다면 맨 처음에 나온 x의 index를 반환하게 됩니다.
x가 리스트 내부에 없다면 어떤 값을 반환할까요?
"""
# 리스트에서 'k' 위치 찾기 (하나인 경우)
a.index('d')

5

In [ ]:
# 리스트에서 'k' 위치 찾기 (여러개인 경우)
a.index('k')

4

In [ ]:
## list.clear() - 리스트에 저장된 모든 값 삭제
"""
리스트 내부에 존재하는 모든 값들을 삭제 합니다.
리스트 자체를 삭제하는게 아니라 내부 값들만 삭제하기 때문에
리스트 객체 자체는 남아있고, 내부 값이 없는. 비어있는 리스트가 됩니다.
"""
a = ['blockdmask', 1, 2, 3]
print(a)

['blockdmask', 1, 2, 3]

In [ ]:
a.clear()
print(a)

[]

## 튜플:

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같습니다.

1. 리스트에서는 대괄호 "[, ]"를 이용해서 리스트를 만들었다면 튜플에서는 소괄호 "(, )"를 이용해서 튜플을 만들 수 있습니다.
2. 비어있는 튜플을 만들려면 t1 = () 처럼 비어있는 소괄호를 넣으면 됩니다.
3. 눈치가 빠르신 분들은 이미 눈치를 채셨겠지만, 값이 1개만 들어있는 튜플을 만들때에는           t2 = (1, ) 처럼 값을 하나 넣고 콤마(,)를 넣어주어야 합니다. 튜플의 규칙이죠.
4. 또 튜플은 set자료형이랑 달리 중복된 값을 넣을 수 있습니다. t3을 보면 5가 두번 있는것을 볼 수 있죠. 튜플은 내부의 값이 중복되도 상관없습니다.

위에서 배운 튜플의 특징에 대해서 요약 정리를 해보면 아래와 같습니다. 

특징1) 소괄호 이용해서 생성 "(, )" 

특징2) 비어있는 튜플은 () 

특징3) 값이 하나만 있는 튜플은 (5, ) 콤마 하나 꼭 붙여야함 

특징4) 값이 중복될 수 있다. 특징5) 튜플의 요소 값은 변경하거나 삭제할 수 없음.

In [ ]:
## 튜플 기본 모형

t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

"""
얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 
프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리합니다. 
튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 여부입니다. 
즉 리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능합니다.
따라서 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 
값이 바뀔까 걱정하고 싶지 않다면 주저하지 말고 튜플을 사용해야 합니다. 
이와는 반대로 수시로 그 값을 변화시켜야할 경우라면 리스트를 사용해야 합니다. 
실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 
평균적으로 튜플보다는 리스트를 더 많이 사용합니다.
"""

'\n얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 \n프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리합니다. \n튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 여부입니다. \n즉 리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능합니다.\n따라서 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 \n값이 바뀔까 걱정하고 싶지 않다면 주저하지 말고 튜플을 사용해야 합니다. \n이와는 반대로 수시로 그 값을 변화시켜야할 경우라면 리스트를 사용해야 합니다. \n실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 \n평균적으로 튜플보다는 리스트를 더 많이 사용합니다.\n'

In [ ]:
## 1. 튜플 요솟값을 삭제하려 할 때

t1 = (1, 2, 'a', 'b')
del t1[0]
## 삭제가 불가능하다.

## 2. 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'
## 변경이 불가능하다.

TypeError: ignored

In [ ]:
# 튜플 다루기

## 인덱싱하기

t1 = (1, 2, 'a', 'b')
t1[0] ## 처음 위치하는 값을 가져온다.
#1

1

In [ ]:
t1[3]
#'b'

'b'

In [ ]:
t1[-1] ## 마지막에 위치하는 값을 가져온다.
#'b'

'b'

In [ ]:
## 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]
# (2, 'a', 'b')
## 앞index 에서 부터 뒤index -1 까지의 범위의 요소값을 새로운 튜플로 만들어서 반환
"""슬라이싱을 할 때, [시작 위치: 끝 위치-1]를 지정하는데, 만약에 끝 위치를 지정하지 않았을 경우에는 끝까지 진행하도록 됩니다."""

'슬라이싱을 할 때, [시작 위치: 끝 위치-1]를 지정하는데, 만약에 끝 위치를 지정하지 않았을 경우에는 끝까지 진행하도록 됩니다.'

In [ ]:
t1[1:]

(2, 'a', 'b')

In [ ]:
t1[1:2]
# (2, 'a')

(2,)

In [ ]:
## 튜플 더하기

t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2
# (1, 2, 'a', 'b', 3, 4)

(1, 2, 'a', 'b', 3, 4)

In [ ]:
## 튜플 곱하기
t2 = (3, 4)
t2 * 3
# (3, 4, 3, 4, 3, 4)

(3, 4, 3, 4, 3, 4)

In [ ]:
## 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)
# 4

4

In [ ]:
## 튜플 내부에 값이 있는지 확인하기
t1 = (1, 2)
t2 = ()
t3 = ('b', 'l', 'o', 'c', 'k')
 
if 1 in t1:
    print('1 in t1 is true')
else:
    print('1 in t1 is not true')

if 1 in t2:
    print('1 in t2 is true')
else:
    print('1 in t2 is not true')

if 'z' in t3:
    print('"z" in t3 is true')
else:
    print('"z" in t3 is not true')

1 in t1 is true
1 in t2 is not true
"z" in t3 is not true

In [ ]:
## 튜플 내부에 값이 몇개 있는지 확인하기 (count)
"""
count(k) 함수를 이용하여 튜플 내부에 해당 값이 몇개가 있는지 확인 할 수 있습니다.
count(k) 함수는 대소문자를 구분합니다.
"""
a = (1, 3, 5, 7, 9, 11)
b = ('B', 'l', 'o', 'c', 'k', 'D', 'M', 'a', 's', 'k')

In [ ]:
a.count(5)
## 1

1

In [ ]:
a = 3, 4, 5
b = 7,
c = 'o', 'p', 'q'

### 추가:
## 괄호 생략이 가능하다
"""튜플을 생성할때 혹은 튜플을 다룰때 () 소괄호는 사실 필수 조건은 아닙니다. 즉, 생략이 가능합니다.

그래서 튜플을 생성할때 t1 = 1, 2, 3, 4, 5 라 하면 파이썬은 이것을 튜플이라 여기게 됩니다."""

'튜플을 생성할때 혹은 튜플을 다룰때 () 소괄호는 사실 필수 조건은 아닙니다. 즉, 생략이 가능합니다.\n\n그래서 튜플을 생성할때 t1 = 1, 2, 3, 4, 5 라 하면 파이썬은 이것을 튜플이라 여기게 됩니다.'

In [ ]:
print(f'type(a) : {type(a)}')
print(f'type(b) : {type(b)}')
print(f'type(c) : {type(c)}')
 
print(f'a : {a}')
print(f'b : {b}')
print(f'c : {c}')

type(a) : <class 'tuple'>
type(b) : <class 'tuple'>
type(c) : <class 'tuple'>
a : (3, 4, 5)
b : (7,)
c : ('o', 'p', 'q')

In [ ]:
## tuple로 인한 스왑
"""
바로 위 예제에서 보았듯이 튜플에는 unpack 기능 (하나하나 나눠주는)과 다시 합쳐주는 pack 기능이 있기 때문에 우리는 변수의 스왑을 매우 편리하게 할 수 있습니다.
"""
# a1, a2 에 튜플이 분해되서 하나씩 들어감
a1, a2 = (1, 2)
print(f'a1, a2 = {a1}, {a2}')

a1, a2 = 1, 2

In [ ]:
b2, b1 = a1, a2
print(f'b1, b2 = {b1}, {b2}')

b1, b2 = 2, 1

In [ ]:
##  tuple 과 반복문
t1 = ('B', 'l', 'o', 'c', 'k', 'D', 'M', 'a', 's', 'k')
 
for v in t1:
    print(v)

B
l
o
c
k
D
M
a
s
k

In [ ]:
## 튜플의 중첩

""" 튜플도 2중 리스트 처럼 중첩이 가능합니다. 소괄호 안에 소괄호를 사용하면 됩니다.
접근은 [][] 이렇게 이중이면 두개의 [][]로 접근이 가능하고, 삼중이면 [][][]으로 접근이 가능합니다
"""
t1 = (1, 2, (3, 4))
 
# 중첩된 튜플의 순회
print('1. 튜플 중첩 반복문')
for v in t1:
    print(v)
## 위에서 먼저 튜플을 확인해보자.
print('\n2. 튜플 중첩 인덱싱')
print(f't1[0] = {t1[0]}')
print(f't1[1] = {t1[1]}')
print(f't1[2] = {t1[2]}')
print(f't1[2][0] = {t1[2][0]}')
print(f't1[2][1] = {t1[2][1]}')

1. 튜플 중첩 반복문
1
2
(3, 4)

2. 튜플 중첩 인덱싱
t1[0] = 1
t1[1] = 2
t1[2] = (3, 4)
t1[2][0] = 3
t1[2][1] = 4

## 딕셔너리

리스트와 같이 수정할 수 있으나, key와 그 key에 해당하는 value 값이 존재한다.

딕셔너리는 중괄호({, })로 감싸서 표현합니다.

### 주의해야할 점

- 키 값에 list, set이 올 수 없습니다. 키 값은 immutable (불변한) 객체 타입이 와야 합니다. 그렇기 때문에 mutable한 변할수 있는 객체 타입인 list나 set 같은 타입은 딕셔너리의 키가 될 수 없습니다.
- 키 값은 중복 될 수 없습니다. 동일한 키를 추가하면 나중에 추가된 키와 값에 기존의 키와 값이 덮어띄워진다. 키 값은 고유해야하기 때문이다. 그래야 정확히 그 데이터에 접근할 수 있기 때문입니다.

### 딕셔너리 키값 추가, 접근 방법, 값 변경

- 딕셔너리[키] = 값 을 통해서 키,값 쌍을 추가할 수 있다.
- 딕셔너리[키] 를 통해서 값에 접근할 수 있다.
- 딕셔너리[키] = 값 을 통해서 값을 변경할 수 있다.

In [ ]:
information = {"고향":"수원", "취미":"영화관람", "좋아하는 음식":"국수"}
print(information)

{'고향': '수원', '취미': '영화관람', '좋아하는 음식': '국수'}

In [ ]:
## key 가져오기
cur_price = {'Daum KAKAO': 80000, 'naver':800000, 'daeshin':30000}
cur_price.keys()
### dict_keys(['naver', 'Daum KAKAO', 'daeshin'])

'''
리스트 형태가 아니기 때문에 리스트 형태로 변환한다음 각 키값들을 불러와서 사용하는 것이 좋다.
key = list(dict_keys(['naver', 'Daum KAKAO', 'daeshin'])) ## 바인딩
key[0] ## 'naver'
'''

"\n리스트 형태가 아니기 때문에 리스트 형태로 변환한다음 각 키값들을 불러와서 사용하는 것이 좋다.\nkey = list(dict_keys(['naver', 'Daum KAKAO', 'daeshin'])) ## 바인딩\nkey[0] ## 'naver'\n"

In [ ]:
cur_price.keys()

dict_keys(['Daum KAKAO', 'naver', 'daeshin'])

In [ ]:
## value 가져오기1
print(information.get("취미")) ### 딕셔너리 요소를 하나씩 가져온다.
## 딕셔너리.get("key")를 이용해서 조금 더 안전하게 value에 접근 할 수 있습니다.
"""
딕셔너리.get() 함수는 이렇게 값이 없을때는 None을 반환합니다.
그런데 딕셔너리[] 로 접근할때 값이 없으면 에러가 납니다.
이렇게 딕셔너리[] 접근은 값이 없을때 에러가 나기 때문에 안정성이 조금 떨어질 수 있습니다.
그렇기 때문에 딕셔너리.get() 함수로 확인하는것도 좋은 방법 입니다.
"""

영화관람

'\n딕셔너리.get() 함수는 이렇게 값이 없을때는 None을 반환합니다.\n그런데 딕셔너리[] 로 접근할때 값이 없으면 에러가 납니다.\n이렇게 딕셔너리[] 접근은 값이 없을때 에러가 나기 때문에 안정성이 조금 떨어질 수 있습니다.\n그렇기 때문에 딕셔너리.get() 함수로 확인하는것도 좋은 방법 입니다.\n'

In [ ]:
## value 가져오기2
cur_price = {'Daum KAKAO': 80000, 'naver':800000, 'daeshin':30000}
cur_price.values()
### dict_keys([80000, 800000, 30000])

dict_values([80000, 800000, 30000])

In [ ]:
## 추가:
###이런 형식으로 존재 여부를 넣을 수 있다.
'naver' in cur_price.keys() ##True

True

In [ ]:
## 딕셔너리 키와 값 같이 뽑기
cur_price.items()

dict_items([('Daum KAKAO', 80000), ('naver', 800000), ('daeshin', 30000)])

In [ ]:
## 값 지우기:
cur_price = {'Daum KAKAO': 80000, 'naver':800000, 'daeshin':30000}
del cur_price['Daum KAKAO']
cur_price

{'daeshin': 30000, 'naver': 800000}

In [ ]:
##clear
cur_price = {'Daum KAKAO': 80000, 'naver':800000, 'daeshin':30000}
cur_price.clear()
cur_price

{}

## 데이터 프레임

데이터 프레임의 장점이라 함은, 다른 자료형들에 비해서 훨씬 시각적이며, 자료 변형에 제약이 없다는 점입니다. 우리가 사용했던 dictionary를 데이터 프레임으로 만들어서 사용하거나, 리스트를 이용해서 데이터 프레임으로 만들어서 사용할 경우에, 더욱 간결하게 해결할 수 있습니다. 

또한 데이터 프레임은 리스트의 한 종류로서, 리스트에서 사용되는 대부분의 함수들을 적용 가능하다는 점도 하나의 장점이라고 할 수 있습니다. DB를 배우다 보면 주로 SQL을 사용하게 되며, 이를 통해서 로컬 스토리지를 다룰 때가 많은데, 특수 분야에서는 SQL을 파이썬으로도 해결을 해준다는 점에서 장점이 있습니다. 

데이터프레임을 사용하기 위해서는 먼저 필요한 library를 설치해야합니다. → DB 또한 이런 형식의 DB를 사용할 수도 있다.

In [ ]:
##pip install pandas ## 설치되어 있지 않을 경우
## pandas를 import 해온다.

import pandas as pd ## pd라고 줄여서 사용할 수 있도록 만들었다.

### 데이터 프레임을 만든느 방법은 두가지가 존재한다. 한가지는 데이터가 파일로 주어졌을 경우, 다른 한가지는 주어지지 않았을 경우이다.

### 데이터가 파일로 주어질 경우
"""
주로 파일은 형태에 따라서 불러오는 방식이 다르다.
##excel -> pd.read_excel("경로", encoding = "cp949")
##csv -> pd.read_csv("경로", encoding = "cp949")
cp949가 오류가 날 경우, utf-8로 수정해주면 돌아간다. -> 한글 출력에 있어서 필요한 encoding 형식이라고 할 수 있다.
"""

### 먼저 주어진 데이터 프레임을 먼저 불러와보도록 하겠다.
DF_orginal = pd.read_excel("./기사 명사 개수.xlsx")
#DF_orginal 
### 위와 비슷한 방식으로 추후에 DB에 있는 정보들을 긁어올 수 있다. -> pandasql을 사용할 경우에는 SQL과 동일한 방식으로 코딩도 가능하다.

In [ ]:
### 우리는 주로 이런 데이터 프레임을 불러오기 보다는 만들 경우도 많다고 생각합니다. 그래서 만드는 부분도 보여주도록 할 예정이다.
### 멋쟁이 사자처럼 운영진을 바탕으로 데이터 프레임을 만들어보도록 하겠습니다.
### 먼저 우리가 직접 입력해주기 위해서는 빈 데이터 프레임을 만들어주겠습니다.
"""DF= pd.DataFrame(index=range(0,원하는 행갯수:데이터 개수), columns=['칼럼이름1', '칼럼이름2'])"""
운영진_list = ["최지희", "김준서", "차지환","문태주","강지민","윤효정","장혜원","박고은","유준호","양승빈"]
운영진_학번 = [18, 19, 18, 21, 19, 19, 20, 20, 21, 18]
운영진_성별 = ["여","남","여","남","여","여","여","여","남","남"]
운영진_count = len(운영진_list)

In [ ]:
### 빈 데이터 프레임을 만들어서 넣기:
운영진 = pd.DataFrame(index=range(0,운영진_count), columns=["이름","학번","성별"])

운영진["이름"] = 운영진_list
운영진["학번"] = 운영진_학번
운영진["성별"] = 운영진_성별

In [ ]:
### 데이터 프레임으로 한번에 만들기
### 데이터를 넣어서도 바로 만들 수 있습니다.
운영진_10기 = pd.DataFrame({'이름':["박고은","유준호","양승빈"],
                             '학번':[20, 21, 18],
                             '성별':["여","남","남"],
                             "기수":["10","10","10"]})
#운영진_10기

In [ ]:
### 새로운 열 만들어보기: 컬럼 이름이 없더라도, 새로운 이름으로 선언한 이후에 데이터를 넣어주면 됩니다.
운영진["기수"] = [9,9,9,9,9,9,9,10,10,10]

In [ ]:
### 원하는 조건의 행만 뽑아오기
운영진_9기=운영진[운영진["기수"] == 9] ##자신이 원하는 조건에 맞는 열을 고른 후, 그 데이터 조건을 적어주면 된다.
#운영진_9기

In [ ]:
### 이와 같이 부등호로도 사용 가능하다.
운영진_화석 = 운영진[운영진["학번"] <= 19]
#운영진_화석

In [ ]:
### 원하는 조건의 열만 뽑아오기
### 원하는 조건의 열또한 뽑을 수 있다. 학번이 화석 같아서 싫다면
운영진_학번싫어 = 운영진[["이름","성별","기수"]]
#운영진_학번싫어